*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    padding: 2rem 9%;
}

.header{
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20px;
    padding: 20px;
}

.logo{
    font-size: 2rem;
}
.logo span{
    color: orangered;
    font-size: 2.2rem;
}
.nav a{
    text-decoration: none;
    margin-left: 1.2rem;
    font-size: 1.5rem;
    color: rgba(0,0,0,.4);
    padding: .5rem;

}

.nav a:hover {
    background: deeppink;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}
.header .icons a{
    font-size: 1.5rem;
    color: #333;
    margin-left: 1.5rem;
}

.header .icons a:hover{
    color: orangered;
}
.home .content{
    margin-top: 15rem;
    text-align: center;
    display: flex;
}

.home .content h3{
    font-size: 2.5rem;
    color: black;
}
.home .content span{
    font-size: 2.1rem;
    color: orangered;
}

.home .content button{
    margin-top: 2rem;
    padding: 1rem 1.4rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    text-align: center;
    font-size: 1rem;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.home .content button:hover{
    background: orangered;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.heading{
    text-align: center;
    color: darkslategray;
    font-size: 3rem;
}

.heading span{
    color: orangered;
    font-size: 2.2rem;
}

.products{
    overflow: hidden;
}
.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.products .box-container .box{
    flex: 1 15rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0, .1);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    border: .1rem solid rgba(0,0,0, .1);
    position: relative;
}

.products .box-container .box .discount{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    color: var(--pink);
    background: rgb(255,51,153,.05);
    z-index: 1;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .image img{
    height: 25rem;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}



.products .box-container .box:hover .image img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem;left: 0;right: 0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom: 0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background:deeppink;
    color: #fff;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}


.products .box-container .box .image .icons a:hover{
    background: #333;
}

.products .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}

.products .box-container .box .content .price{
    font-size: 2.5rem;
    color: darkblue;
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;
    
}